<table width="250" height="200" border="0" background="../images/loginbox.png">
  <tr>
    <td height="100" >
    
    <font face="Arial, Helvetica, sans-serif"><b>Hello @USERNAME</b></font>
    <logged>
    <form id="loginform" name="loginform" method="post" action="login.php">
    <font face="arial">Username:</font><br> <input type="text"  name="username" /><br>
    <font face="arial">Password: </font><br><input type="password" name="password" /><br>
    <input type="submit" value="Log In!" /><br />
    </logged><br>
    <a href="@ACTION">@ACTNAME</a>
    </form>
    </td>
  </tr>
</table>