<center>
<table width="inherit" bgcolor="#0099FF" height="inherit">
  <tr>
    <td><center><form id="registerform" name="registerform" method="post" action="register.php">
    Username: <br /><input name="username" type="text" align="right"/><br /><br />
    Password:  <br /><input type="password" name="password" align="right" /><br /><br />
    Confirm Password: <br /> <input type="password" name="confirmpass" align="right"/><br /><br />
    First Name: <br /> <input type="text" name="firstname" /><br /><br />
    Last Name:  <br /><input type="text" name="lastname" /><br /><br />
    Mobile Phone Number:  <br />
    <input name="phonenumber" type="text" value="" />
    <br /><br />
    <center><input type="submit" value="Register" /><center>
    </form></center>
    </td>
  </tr>
</table>
</center>